//CORE
@import 'core/colors';
@import 'core/commons';
@import 'core/fonts';

//COMPONENTS
@import 'components/header';
@import 'components/headerCreator';
@import 'components/hero';
@import 'components/card';
@import 'components/design';
@import 'components/fill';
@import 'components/share';
@import 'components/form';
@import 'components/footer';







