//CORE
@import 'core/settings';
@import 'core/commons';
@import 'core/colors';
@import 'core/fonts';

//COMPONENTS
@import 'components/header';
@import 'components/headerCreator';
@import 'components/hero';
@import 'components/card';
@import 'components/design';
@import 'components/fill';
@import 'components/share';
@import 'components/form';

@import 'components/footer';


/* index.html */
body {
    margin: 0;
}

/*************/

/* creator.html */

@media all and (min-width:768px) {

    .main__parts {
        display: flex;
        flex-direction: row-reverse;
    }
}

/***************/








