<section class="cardSection">
    <div class="card">
        <div class="card__wrapper">
            <div class="card__titles">
                <h2 class="title__name">nombre apellido</h2>
                <p class="title__profession">front-end developer</p>
            </div>
            <div class="card__image">
                <img src="https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE" alt="Photography of a person" class="image__photo">
                <!-- src="assets/images/cat.png"  -->
            </div>
            <ul class="card__list card__contact-list">
                <li class="contact-list__element contact-list__phone">
                    <!-- <a class="element__link" href="" target="_blank">
                        <i class="problematic_icon card_icon fas fa-mobile-alt"></i>
                    </a> -->
                </li>
                <li class="contact-list__element contact-list__mail">
                    <!-- <a class="element__link" href="" target="_blank">
                        <i class="problematic_icon card_icon fas fa-envelope"></i>
                    </a> -->
                </li>
                <li class="contact-list__element contact-list__linkedin">
                    <!-- <a class="element__link" href="" target="_blank">
                        <i class="card_icon fab fa-linkedin-in"></i>
                    </a> -->
                </li>
                <li class="contact-list__element contact-list__github">
                    <!-- <a class="element__link" href="" target="_blank">
                        <i class="card_icon fab fa-github-alt"></i>
                    </a> -->
                </li>
            </ul>
            <ul class="card__list card__skills-list">
                <li class="skills-list__element">
                    <p class="element__content">html</p>
                </li>
                <li class="skills-list__element">
                    <p class="element__content">css</p>
                </li>
                <li class="skills-list__element">
                    <p class="element__content">gulp</p>
                </li>
            </ul>
            <button class="card__button">
                <span class="button__icon">
                    <i class="button_icon far fa-trash-alt"></i>
                </span>
                <span class="button__text">Reset</span>
            </button>
        </div>
    </div>
</section>