<section class="card">

    <div class="page__wrapper">

        <div class="card__wrapper">

            <!-- Titles -->

            <div class="card__titles">

                <h2 class="title__name">nombre apellido</h2>
                <p class="title__profession">front-end developer</p>
          
            </div>

            <!-- Photo -->

            <div class="card__image">
                <img src="assets/images/cat.png" alt="Photography of a person" class="image__photo">
            </div>

            <!-- Contact -->

            <ul class="card__contact-list">

                <li class="contact-list__element contact-list__phone">

                </li>

                <li class="contact-list__element contact-list__mail">


                </li>

                <li class="contact-list__element contact-list__linkedin">

                </li>

                <li class="contact-list__element contact-list__github">


                </li>


            </ul>


            <!-- Skills -->

            <ul class="card__skills-list">

                <li class="skills-list__element">html</li>
                <li class="skills-list__element">css</li>
                <li class="skills-list__element">gulp</li>

            </ul>

            <!-- Reset button -->

            <button class="card__button">Reset</button>


        </div>

    </div>

</section>