<fieldset class="design">
    <div class="form--btn">
        <div class="form--btn_title">
            <i class="far fa-object-ungroup"></i>
            <h3 class="btn-desplegable">Diseña</h3>
        </div>
        <div class="form--btn_icon">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="design--section">
        <div class="design--colours">
            <h4 class="design--colours_title">Colores</h4>
            <div class="design--colours_radio">
                <div >
                    <label class="clase" for="green">
                        <input class="design_input" type="radio" name="colors" value="green" id="green" checked>
                        <div class="design--colours_label">
                            <div class="label_item item_green_1"></div>
                            <div class="label_item item_green_2"></div>
                            <div class="label_item item_green_3"></div>
                        </div>
                    </label>
                </div>
                <div class="clase">
                    <input class="design_input" type="radio" name="colors" value="red" id="red">
                    <label for="red">
                        <div class="design--colours_label">
                            <div class="label_item item_red_1"></div>
                            <div class="label_item item_red_2"></div>
                            <div class="label_item item_red_3"></div>
                        </div>
                    </label>
                </div>
                <div class="clase">
                    <input class="design_input" type="radio" name="colors" value="blue" id="blue">
                    <label for="blue">
                        <div class="design--colours_label">
                            <div class="label_item item_blue_1"></div>
                            <div class="label_item item_blue_2"></div>
                            <div class="label_item item_blue_3"></div>
                        </div>
                    </label>
                </div>
            </div>          
        </div>
        <div class="design--fonts">
            <h4 class="design--colours_title">Fuentes</h4>
            <div class="design--colours_radio">
                <div class="fonts">
                    <input class="design_input" type="radio" name="fonts" id="ubuntu" checked>
                    <label class="ubuntu" for="ubuntu">Ubuntu</label>
                </div>
                <div class="fonts">
                    <input class="design_input" type="radio" name="fonts" id="comic">
                    <label class="comic" for="comic">Comic Sans</label>
                </div>
                <div class="fonts">
                    <input class="design_input" type="radio" name="fonts" id="montserrat">
                    <label class="montserrat" for="montserrat">Montserrat</label>
                </div>            
            </div>
        </div>
    </div>

</fieldset>