<fieldset class="fill--page">
    <div class="form--btn">
        <div class="form--btn_title">
            <i class="far fa-keyboard"></i>            <h3 class="btn-desplegable">Rellena</h3>
        </div>
        <div class="form--btn_icon">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="fill--content">
        <div class="fill--form">
            <label class="fill--form_label" for="full_name">Nombre completo</label>
            <input class="fill--form_input" placeholder=" Ej: Sally Jill" id="full_name" type="text" name="full_name" data-vinculo="title__name" maxlength="20">
        </div>
        <div class="fill--form">
            <label class="fill--form_label" for="position">Puesto</label>
            <input class="fill--form_input" placeholder=" Ej: Front-end unicorn" id="position" type="text" name="position" data-vinculo="title__profession" maxlength="20">
        </div>

        <div class="fill--form__btn">
            <label class="fill--form_label" for="image">Imagen de perfil</label>
            <!-- BUSCAR MODO -->
            <div class="fill--wraper">
                <button class="fill--btn">Añadir imagen</button>
                <div class="fill--input__img"></div>
            </div>
            <input class="search--btn" type="file">

        </div>

        <div class="fill--form">
            <label class="fill--form_label" for="email">Email</label>
            <input class="fill--form_input" placeholder=" Ej: sally-hill@gmail.com" id="email" type="email" name="email">
        </div>

        <div class="fill--form">
            <label class="fill--form_label" for="telNumber">Teléfono</label>
            <input class="fill--form_input" placeholder=" Ej: 555-55-55-55" id="telNumber" type="tel" name="telNumber">
        </div>

        <div class="fill--form">
            <label class="fill--form_label" for="linkedin">Linkedin</label>
            <input class="fill--form_input" placeholder=" Ej: linkedin.com/in/sally.hill" id="linkedin" type="text" name="linkedin">
        </div>

        <div class="fill--form">
            <label class="fill--form_label" for="github">Github</label>
            <input class="fill--form_input" placeholder=" Ej: @sally-hill" id="github" type="text" name="github">
        </div>

        <!-- h3? -->
        <p class="fill--checkbox__text">Habilidades (máximo 3)</p>
        <div  class="fill--checkbox__item">
            <label for="skill-options1">
                <input class="fill--checkbox__input" id="skill-options1" type="checkbox" value="html" name="skills">
                HTML
            </label>
        </div>
        <div class="fill--checkbox__item">
            <label for="skill-options2">
                <input class="fill--checkbox__input" id="skill-options2" type="checkbox" value="css" name="skills">
                CSS
            </label>
        </div>
        <div class="fill--checkbox__item">
            <label for="skill-options3">
                <input class="fill--checkbox__input" id="skill-options3" type="checkbox" value="react" name="skills">
                React
            </label>
        </div>
    </div>
</fieldset>