<hero class="hero_box">
	<h1 class="hero_title">Crea tu tarjeta de visita</h1>
	<div class="hero_text">
		<p class="hero_text-style">Crea mejores contactos profesionales de forma fácil y cómoda</p>
	</div>
	<div class="hero_icons">
		<ul class="hero_icons-list">
			<div>
				<li> <i class="far fa-object-ungroup"></i></li>
				<li>Diseña</li>
			</div>
			<div>
				<li><i class="far fa-keyboard"></i></li>
				<li>Rellena</li>
			</div>
			<div>
				<li><i class="fas fa-share-alt"></i></li>
				<li>Comparte</li>
			</div>
		</ul>
	</div>
		<button class="hero_btn btn-style">Comenzar</button>
</hero>