<div class="hero_box">
	<partial src="_header.html" label="Header"></partial>
	<h1 class="hero_title">Crea tu tarjeta de visita</h1>
	<div class="hero_text">
		<p class="hero_text-style">Crea mejores contactos profesionales de forma fácil y cómoda</p>
	</div>
	<div class="hero_icons">
		<ul class="hero_icons-list">
			<div>
				<li class="list list-design">
					<div><i class="far fa-object-ungroup"></i></div>Diseña
				</li>
			</div>
			<div>
				<li class="list list-fill">
					<div><i class="far fa-keyboard"></i></div>Rellena
				</li>
			</div>
			<div>
				<li class="list list-fill">
					<div><i class="fas fa-share-alt"></i></div>Comparte
				</li>
			</div>
		</ul>
	</div>
	<a class="hero_btn-link" href="creator.html">
		<button class="hero_btn btn-style">Comenzar</button>
	</a>
</div>