<form action="">
    <fieldset class="share">
        <div class="share__wrapper">
            <div class="share-btn">
                <div class="form--btn_title">
                    <i class="fas fa-share-alt"></i>
                    <h3 class="share-title">Comparte</h3>
                </div>
                <div>
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="btn-create-card">
                <button class="create-btn" type="submit">
                    <i class="far fa-address-card"></i>
                    <h3 class="create-title">Crear tarjeta</h3> 
                </button>
            </div>
        </div>
    </fieldset>
    <div class="share">
        <div class="share__wrapper">
            <div class="share-created">
                <p class="text-created">La tarjeta ha sido creada:</p>
                <a class="link-created" href="">https://awesome-profile-card.com?id=A456DF0001</a>
            </div>
            <button class="share-twitter">
                    <i class="fab fa-twitter"></i>
                    <span class="text-twitter">Compartir en Twitter</span> 
            </button>
        </div>
    </div>
</form>