<form action="">
    <fieldset class="share">
        <div class="share__wrapper">
            <div class="share-action">
                <button class="share-btn"><h2 class="share-title">Comparte</h2></button>
            </div>
            <button class="create-btn" type="submit">Crear tarjeta</button>
            <div class="rectangle rectangle--1"></div>
        </div>
    </fieldset>
    <fieldset class="share">
        <div class="share__wrapper">
            <div class="share-created">
                <p class="text-created">La tarjeta ha sido creada:</p>
                <a class="link-created" href="">https:</a>
            </div>
            <button class="share-twitter">Compartir en Twitter</button>
            <div class="rectangle rectangle--2"></div>
        </div>
    </fieldset>
</form>