<fieldset class="share">
    <div class="share__wrapper">
        <div class="form--btn">
            <div class="form--btn_title">
                <i class="fas fa-share-alt"></i>
                <h3 class="btn-desplegable">Comparte</h3>
            </div>
            <div class="form--btn_icon">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="section btn-create-card">
            <button class="create-btn" type="button">
                <i class="far fa-address-card"></i>
                <h3 class="create-title">Crear tarjeta</h3>
            </button>
        </div>
    </div>
</fieldset>
<div class="share">
  <div class="share__wrapper twitter">
    <div class="share-created">
      <p class="text-created">La tarjeta ha sido creada:</p>
      <div class="link-created"></div>
    </div>
    <a class="link-twitter" href="" target="_blank">
      <button class="share-twitter" type="button">
        <i class="fab fa-twitter"></i>
        <span class="text-twitter">Compartir en Twitter</span>
      </button>
    </a>

  </div>
</div>
