<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Creator - Sticker Fighters</title>
		<link rel="icon" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet"/>
    <link href="http://allfont.es/allfont.css?fonts=comic-sans-ms" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
		crossorigin="anonymous"/>
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>
		<div class="page">
			<partial src="_headerCreator.html" label="Header"></partial>
			<main class="main__parts">
    		<partial src="_card.html" label="Card"></partial>
				<partial src="_form.html" label="Form"></partial>
			</main>
			<footer>
				<partial src="_footer.html" label="Footer"></partial>
			</footer>
		</div>
		<script type="text/javascript" src="assets/js/main.min.js"></script>
	</body>
</html>
