.cardSection {
    background-image: linear-gradient(to bottom, #f5f5f5, #ffffff);

    @media all and (min-width: 768px){
    padding: 20px 40px 80px 0;
    width: 50%;
    }
}

.card {
    width: 100%;
    height: 460px; // alto para movil
    padding-top: 60px;
    background: linear-gradient($silver, $pale-grey);

    @media all and (min-width: 768px){

        border-radius: 6px;
        height: 100%; //alto para tablet
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card__wrapper {
    position: relative;
    width: 240px;
    margin: 0 auto;
    padding-top: 20px;
    background-color:$white;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    @include Comic;
}

// CARD TITLES

.card__titles {
    text-transform: capitalize;
    border-left: 5px solid $hospital-green;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    padding-left: 15px; //20-5(ancho del borde)
}

.title__name {
    margin: 0;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: $dark-green-blue;
    height: 20px;
}

.title__profession {
    margin: 0;
    padding-top: 5px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: $gunmetal;
    height: 20px;
}

// CARD IMAGE

// .card__image {
//     width: 240px;
//     height: 367px;
// }

.image__photo {
    height: 200px;
    width: 240px;
    display: block;
    background-image: url(../images/cat.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


// LISTS

.card__list {
    list-style: none;
    margin: 0;
    display: flex;
}

//Icon list

.card__contact-list {
    padding: 10px 0 10px 0;
    min-height: 34px;
}

.contact-list__element:first-child {
    margin-left: 20px;
}

.element__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $dark-green-blue;
    text-decoration: none;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 2px solid $hospital-green;
    border-radius: 16px;
    margin-right: 10px;
}

.card_icon {
    font-size: 18px;
    color: $dark-green-blue;
}

//Skill list

.card__skills-list {
    padding: 10px 0 10px 0;
    border-top: 2px solid rgba(67, 135, 146, 0.2);
    height: 22px;
}

.skills-list__element {
    margin-left: 15px;
}

.element__content {
    margin: 0;
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 13px;
    color: $white;
    border-radius: 4px;
    background-color: $dirty-blue;
    height: 20px;
    line-height: 20px;
}

// RESET BUTTON

.card__button {
    height: 30px;
    box-sizing: border-box;
    border: 1px solid $white;
    border-radius: 15px;
    background-color: transparent;
    color: $gunmetal;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    position: absolute;
    bottom: 390px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.button_icon {
    color: $gunmetal;
    font-size: 12px;
    line-height: 20px;
}

.button__text {
    margin-left: 10px;
}

//scripts class add
.card__theme-red {
    .title__name {
        color: $dried-blood;
    }
    .card__titles {
        border-color: $tomato;
    }
    .element__link {
        border-color: $tomato;
    }
    .card_icon{
        color: $dried-blood;
    }
    .element__content {
        background-color: $rusty-red;
    }
}
.card__theme-blue {
    .title__name {
        color: $slate;
    }
    .card__titles {
        border-color:  $pale-grey-two;
    }
    .element__link {
        border-color: $light-grey-blue;
    }
    .card_icon{
        color: $slate;
    }
    .element__content {
        background-color: $light-grey-blue;
    }
}

//scripts typography class

.card__typo-comic {
    @include Comic;
}
.card__typo-montserrat {
    @include Montserrat;
}
.card__typo-ubuntu {
    @include Ubuntu;
}
