// Variables

    //colores del degradado de fondo
$silver: #bfcdd0;
$pale-grey: #dde9ed;

    // color del borde de los titulos
$hospital-green: #a2deaf; 

    //fuentes
$titles-font:'Dosis';




.card {
    width: 100vw;
    height: 460px; //unidades realtivas??
    background: linear-gradient($silver, $pale-grey);

}


.card__wrapper {
    width: 240px;
    height: 367px;
    margin: 0 auto;
    background-color: red;
}

.card__titles {
    text-transform: capitalize;
    border-left: 5px solid $hospital-green;
    font-family: $titles-font, sans-serif;
}


