body {
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Ubuntu');

//DESIGN
.design {
    padding: 27px 20px 10px;
}
.design--section {
    border-bottom: 1px solid #d8d8d8;
}
.form--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    background: white;
    border: 0px;
}
.form--btn_title {
    display: flex;
    align-items: center;
}
.design--title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
.design--colours, .design--fonts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0px 0px 19px;
}
.design--fonts {
    padding-top: 13px;
}
.design--colours_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $gunmetal;
    margin: 0px;
}
.design_input {
    margin: 0px 4px 0px 0px;
}
.clase {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.design--colours_label {
    display: flex;
}
.label_item {
    width: 30px;
    height: 25px;
}
.item_green_1 {
    background-color: $dark-green-blue;
}
.item_green_2 {
    background-color: $dirty-blue; 
}
.item_green_3 {
    background-color: $hospital-green;
}
.item_red_1 {
    background-color: $dried-blood;
}
.item_red_2 {
    background-color: $rusty-red; 
}
.item_red_3 {
    background-color: $tomato;
}
.item_blue_1 {
    background-color: $slate;
}
.item_blue_2 {
    background-color: $pale-grey-twoo; 
}
.item_blue_3 {
    background-color: $light-grey-blue;
}
.fonts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 9px;
}
.montserrat {
    width: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.ubuntu {
    width: 90px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.comic {
    width: 90px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px; 
    //¿?¿? No está perfectamente alineado
}