//FILL

.fill--page {
  color:$gunmetal;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid $white-two;
}
.fill--content {
  color: $dark-green-blue;
  line-height: 1.43;
}
.fill--form {
  margin-bottom: 20px;
}
.fill--form_label {
  display: block;
  padding-bottom: 6px;
}
.fill--form_input {
  padding: 4px 10px 6px;
  border: 1px solid $hospital-green;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  color: $dark-green-blue;
}
.fill--btn {
  width: 140px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: $dull-orange;
  border-style: none;
  margin-bottom:20px;
  color: $white;
  margin-top: 6px;
}
.fill--form__btn {
  display: flex;
  flex-direction: column;
}
.search--btn {
  color:transparent;
  display: none;
}
.fill--checkbox__text {
  margin-top:40px;
  margin-bottom: 10px;
}
.fill--checkbox__item {
  margin-bottom:10px;
}
.fill--checkbox__input {
  margin: 0 10px 0 0;
  width: 17px;
  height: 17px;;
}
.fill--input__img {
  border: 1px solid $hospital-green;
  margin: 5px 20px;
  width: 30px;
  height: 30px;
  background: center center no-repeat;
  background-size: cover;
}
.fill--wraper {
  display:flex;
}
