.footer_box{
  margin:0;
  padding:0;
  height: 110px;
  width: 100vw;
  background-color: $white;
  
  @include Text-Style-8;
}
.footer_box-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  min-width: 100%;
}
.footer_par{
  margin: 0;
  padding: 20px 0 10px;
}
.footer_logo{
  margin: 0;
  padding: 0;
  height: 40px;
}