//FOOTER
.footer_box{
  margin:0;
  padding:0;
  height: 110px;
  background-color: $white;
  border-top: 1px solid $white-two;
  @include Text-Style-8;
    @media all and(min-width:768px){
      height: 60px;
  }
}
.footer_box-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  @media all and(min-width:768px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer_par{
  margin: 0;
  padding: 20px 0 10px;
  @media all and(min-width:768px){
    padding: 20px 41px;
  }
}
.footer_logo{
  margin: 0;
  padding-bottom: 20px;
  height: 40px;
  @media all and(min-width:768px){
    padding: 10px 41px;
  }
}