//FORM
.form {
    background-image: linear-gradient(to bottom, $white-three, $white);
    padding: 0px 20px 0px 20px;
    @media all and (min-width: 768px){
        padding: 0px 40px 0px 30px;
        width: 50%;
        box-sizing: border-box;
    }
}

.error__wrapper {
  font-weight: bold;
  color: $dull-orange;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
