
.header_box{
  text-align: center;
  padding: 0;
  @media all and(min-width:768px){
    
}
}
.container_img-card{
  width: 250px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
    @media all and(min-width:768px){
      width: 419px;
      height: 107px;
  }
}