//HEADER
.header_box{
  text-align: center;
  width: 250px;
  height: 64px;
  @media all and(min-width:768px){
    width: 419px;
    height: 107px;   
  }
}
.container_img-card{
  width: 250px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  @media all and(min-width:768px){
    width: 419px;
    height: 107px;
  }
}