//HERO
.page_wrapper{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.hero_box{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top:70px;
}
.hero_title{
  margin: 0;
  padding: 35px 0 4px 0;
  width: 223px;
  height: 24px;
  align-self:center;
  @include Text-Style-2;
   @media all and(min-width:768px){
     width: 278px;
     height: 31px;
     font-size: 24px;
   }
}
.hero_text{
  align-self:center;
  width: 264.8px;
  height: 38.4px;
  @include Text-Style-3;
  @media all and(min-width:768px){
    width: 331px;
    height: 48px;
    font-size: 16px;
  }
}
.hero_text-style{
  margin: 0;
  padding: 0 ;
}
.hero_icons {
  width: 268px;
  margin: 15px 0 39px 0;
  padding: 15px;
  border: 1.6px solid rgba(231, 142, 86, 0.21);
  border-radius: 4px;
  box-sizing: border-box;
  @media all and(min-width:768px){
    width: 325px;
    height: 86px;
    border: 5px solid rgba(231, 142, 86, 0.21);
  }
}
.hero_icons-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display:flex;
  justify-content: space-between;
  @include Text-Style-7;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list .fas{
  width: 25px;
  height: 26px;
  @include Text-Style-4;
}
.list .far{
  width: 25px;
  height: 26px;
  @include Text-Style-4;
}
.hero_btn-link {
  text-decoration: none;
  margin-top: auto;
}
.hero_btn{
  width: 129px;
  height: 42px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  background-color: $dirty-blue;
  outline:none;
}
.btn-style{
  align-self: center;
  @include Text-Style-5;
  text-transform: uppercase;
  
}