$font-open: 'Open Sans', sans-serif;
$font-merriwheater: 'Merriweather', serif;
//iconos 18px
@mixin Text-Style {
  font-size: 18px;
  color: $dull-orange;
}
//crea tu tarjeta
@mixin Text-Style-2 {
  font-family: 'Merriweather', serif;
  font-size: 19px;
  font-weight: 900;
  color: $dull-orange;
}
//crea mejores contactos
@mixin Text-Style-3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  color: $dark-green-blue;
}
//iconos 28px
@mixin Text-Style-4 {
  width: 32px;
  height: 26px;
  font-size: 28px;
  text-align: center;
  color: $dull-orange;
}
//boton comenzar
@mixin Text-Style-5 {
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: $dirty-blue;
  color: $white;
}
@mixin Text-Style-6 {
  font-family: 'Comic Sans MS', arial;
  font-size: 16px;
  color: $gunmetal;
}
//list-hero
@mixin Text-Style-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: $gunmetal;
}
//Awesome-profile
@mixin Text-Style-8 {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 1.43;
opacity: 0.5;
color: $brownish-grey;
}

//typo scripts radiobuttons
@mixin Comic {
  font-family: 'Coming Soon', cursive;
}
@mixin Montserrat {
  font-family: 'Montserrat', sans-serif;
}
@mixin Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
