$color-white: #f3f4f5;

$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;

$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;

$slate: #3e5b65;
$pale-grey-twoo: #dfe5eb;
$light-grey-blue: #a0c0cf;

$gunmetal: #54585a;