//Color palette
$black: #000000;
$dirty-blue: #438792;
$light-khaki: #f9f4dc;
$white: #ffffff;
$hospital-green: #a2deaf;
$azure: #00a0f5;
$brownish-grey: #6b6b6b;
$white-two: #d8d8d8;
$gunmetal: #54585a;
$pinkish-grey: #c5c5c5;
$pale-grey: #dde9ed;
$dark-green-blue: #114e4e;
$tomato: #e95626;
$light-grey-blue: #a0c0cf;
$rusty-red: #bd1010;
$pale-grey-two: #dfe5eb;
$dull-orange: #e17334;
$silver: #bfcdd0;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');$font-open: 'OpenSans';